mat-toolbar {
  justify-content: space-between;
  background: #90ee02;
}

.logoContainer {
  text-decoration: none;
  width: 130px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer:visited {
  color: black;
}

.logoContainer p {
  margin: auto;
}

.logoContainer img {
  height: 50px;
}

.content {
  padding: 60px;
}

